In [29]:
import pandas as pd

In [2]:
df1 = pd.read_parquet('../data/shopping_queries_dataset_examples.parquet')
df2 = pd.read_parquet('../data/shopping_queries_dataset_products.parquet')

In [19]:
df1.head()

,example_id,query,query_id,product_id,product_locale,esci_label,small_version,large_version,split
0,0,revent 80 cfm,0,B000MOO21W,us,I,0,1,train
1,1,revent 80 cfm,0,B07X3Y6B1V,us,E,0,1,train
2,2,revent 80 cfm,0,B07WDM7MQQ,us,E,0,1,train
3,3,revent 80 cfm,0,B07RH6Z8KW,us,E,0,1,train
4,4,revent 80 cfm,0,B07QJ7WYFQ,us,E,0,1,train

In [31]:
df2.dropna(axis=0,how='any',inplace = True)

In [33]:
df2.count()

product_id              596407
product_title           596407
product_description     596407
product_bullet_point    596407
product_brand           596407
product_color           596407
product_locale          596407
dtype: int64

In [44]:
ls = []
for i in range(10):
    ls.append(df2[i-1:i])

In [49]:
ls[1]['product_description']

0    Esta playera con el logo de la marca Carrier d...
Name: product_description, dtype: object